*~
CMakeCache.txt
CMakeFiles
CMakeFiles/*
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
Makefile
_CPack_Packages
cmake_install.cmake
install_manifest.txt
lib/*
source_downloads
tags
tests/mysql2lucene/mysql2lucene
tests/replay_sys_vars
tests/replaybinlog
tests/test-basic
